absl-py==0.1.10
appdirs==1.4.3
backports.weakref==1.0.post1
bleach==1.5.0
docopt==0.6.2
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
guided-filter==1.0
html5lib==0.9999999
Markdown==2.6.11
mock==2.0.0
numpy==1.12.1
olefile==0.44
opencv-contrib-python==3.2.0.7
packaging==16.8
pathlib==1.0.1
pbr==3.1.1
Pillow==4.1.1
protobuf==3.5.1
py==1.4.33
pyparsing==2.2.0
pytest==3.1.0
scipy==0.19.0
six==1.10.0
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
tqdm==4.15.0
Werkzeug==0.14.1
