absl-py==0.1.10
appdirs==1.4.3
appnope==0.1.0
astor==0.6.2
autopep8==1.3.5
backcall==0.1.0
backports.weakref==1.0.post1
bleach==3.1.4
certifi==2018.4.16
chardet==3.0.4
decorator==4.3.0
docopt==0.6.2
entrypoints==0.2.3
enum34==1.1.6
funcsigs==1.0.2
git+https://github.com/tody411/GuidedFilter.git#guided-filter==1.0
gast==0.2.0
grpcio==1.12.0
html5lib==0.9999999
idna==2.6
ipykernel==4.8.2
ipython==6.3.1
ipython-genutils==0.2.0
ipywidgets==7.2.1
jedi==0.12.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Markdown==2.6.11
MarkupSafe==1.0
mistune==0.8.3
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.14.3
olefile==0.44
opencv-contrib-python==3.2.0.7
packaging==16.8
pandocfilters==1.4.2
parso==0.2.0
pathlib==1.0.1
pbr==3.1.1
pexpect==4.5.0
pickleshare==0.7.4
Pillow==4.1.1
prompt-toolkit==1.0.15
protobuf==3.5.1
ptyprocess==0.5.2
py==1.4.33
pycodestyle==2.4.0
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.1.0
python-dateutil==2.7.2
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.18.4
roku==2.0
scipy==0.19.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.10.0
tensorboard==1.8.0
tensorflow==1.12.2
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.2
tqdm==4.15.0
traitlets==4.3.2
urllib3==1.22
virtualenv==15.2.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
